{% if inside_paragraph %}
    {% for children in content['children'] %}
        {% with content=children %}
            {% include "content.jinja" %} <\br>
        {% endwith %}
    {% endfor %}
{%else}
    <p>
        {% for children in content['children'] %}
            {% with content=children, inside_paragraph = True %}
                {% include "content.jinja" %} <\br>
            {% endwith %}
        {% endfor %}
    </p>
{%endif%}