{% if content.type == ContentType.SECTION %}
    {% include "content/section.jinja" %}

{% elif content.type == ContentType.HEADER %}
    {% include "content/header.jinja" %}

{% elif content.type == ContentType.TEXT %}
    {% include "content/text.jinja" %}

{% elif content.type == ContentType.SPAN %}
    {% include "content/span.jinja" %}

{% elif content.type == ContentType.TITLE %}
    {% include "content/title.jinja" %}

{% elif content.type == ContentType.LIST %}
    {% include "content/list.jinja" %}

{% elif content.type == ContentType.LIST_ENTRY %}
    {% include "content/list_entry.jinja" %}

{% elif content.type == ContentType.QUOTE %}
    {% include "content/quote.jinja" %}

{% elif content.type == ContentType.CODE %}
    {% include "content/code.jinja" %}

{% elif content.type == ContentType.SEPARATOR %}
    {% include "content/separator.jinja" %}

{% elif content.type == ContentType.TABLE %}
    {% include "content/table.jinja" %}

{% elif content.type == ContentType.IMAGE %}
    {% include "content/image.jinja" %}

{% elif content.type == ContentType.LINK %}
    {% include "content/link.jinja" %}

{% elif content.type == ContentType.COMMENT %}
    {% include "content/comment.jinja" %}

{% else %}
    NotImplemented {{content.type}}
{% endif %}
